body {
    color: #f7f7f7;
}
.jumbotron {
    background-image: url("..//css/images/nasa.jpg");
    background-size: 100% 100%; /*this is setting the width and height of the background image %*/
    text-align: center;
}